<%= javascript_include_tag 'configure' %>
<div class="row">
  <div class="small-3 medium-1 columns">
    <button class="save button" onclick="writeConfig()">Save</button>
  </div>
  <div class="small-9 medium-11 columns"><p><%= "#{bunny_path}" %>config.txt</p></div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <textarea class="payload-editor">
    </textarea>
  </div>
</div>