<%= javascript_include_tag 'console' %>
<% if bunny_mounted? %>
<div class="row">
  <div class="medium-10 columns">
    <iframe id="console" src="/console" height="600px"></iframe>
  </div>
  <div class="medium-2 columns">

  </div>
</div>
<% end %>