<%= javascript_include_tag 'console' %>
<% if bunny_mounted? %>
<div class="row">
  <div class="medium-10 columns">
    <iframe id="console" src="/console"></iframe>
  </div>
  <div class="medium-2 columns">
    <span style="font-size: x-small">Press [Enter] if unresponsive.</span>
    <h4>Login</h4>
    Username: root<br/>
    Password: hak5bunny
  </div>
</div>
<% end %>