<%= javascript_include_tag 'debug' %>
<% if bunny_mounted? %>
    <ul class="vertical menu">
      <% path = '/debug' %>
      <% Dir.foreach(@debug_path) do |debug_file| %>
          <% next if debug_file == '.' || debug_file == '..' %>
          <li><a href="/studio/raw_file?path=<%= @debug_path %>&file=<%= debug_file %>" target="_blank"><%= debug_file %></a></li>
      <% end %>
    </ul>
<% end %>
