<%= javascript_include_tag 'debug' %>
<h1>Debug</h1>
<% if bunny_mounted? %>
    <ul>
      <% path = '/debug' %>
      <% Dir.foreach("#{bunny_path}#{path}") do |debug_file| %>
          <% next if debug_file == '.' || debug_file == '..' %>
          <li><a href="/studio/raw_file?path=<%= path %>&file=<%= debug_file %>" target="_blank"><%= debug_file %></a></li>
      <% end %>
    </ul>
<% end %>
