<div id="tabs-debug">
  <% if @bash_bunny_path.include?('/') %>
      <% Dir.foreach("#{@bash_bunny_path}/debug") do |debug_file| %>
          <% next if debug_file == '.' || debug_file == '..' %>
          <a href="/dashboard/debug_file?path=<%= debug_file %>" target="_blank"><%= debug_file %></a>
      <% end %>
  <% end %>
</div>