<div id="tabs-switch-2">
  <p>
    <button class="switch-two save" onclick="writePayload(2)">Save</button>
  </p>
  <hr/>
  <textarea class="switch-two payload-editor"><%= @switch_two_text %></textarea>
</div>