<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <div class="logo <%= bunny_mounted? ? 'mounted' : 'unmounted' %>">
      <%= image_tag 'bashbunny.svg', size: '35x35', color: 'red' %>
    </div> BashBunny Studio
  </ul>

  <section class="top-bar-section">

  </section>

  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>
</nav>