html, body{
  height: 100%;
}

.column-3{
  column-count: 3;
}

.CodeMirror{
  height: 70vh;
}

.data-table .odd{
  background: #b5b5b5 !important;
}

.data-table .even{
  background: #c4c4c4 !important;
}

.main-section{
  height: 75vh;
}

.logo{
  margin: 3px 10px 10px 5px;
  display: inline-block;
  border: solid 2px;
  border-radius: 20px;
}

.bunny-status {
  background: none repeat scroll 0% 0%;
}

.unmounted{
  background-color: #ec5840;
  border-color: #ec5840;
}

.mounted{
  background-color: #13c25c;
  border-color: #13c25c;
}

.is-active{
  background-color: #008CBA;
  border-color: #008CBA;
}

iframe{
  height:100%;
  width:100%;
  border: none;
}